//background-colors
// var(--body-bg): #fff;
// var(--brand-bg): #e50046;
// var(--green-bg): #169c69;
// var(--gray-bg): #7f7f7f;
// var(--lightgray-bg): #f1f5fa;
// var(--teal-bg): #36bebc;
// var(--primary-assets): #68788a;
// var(--orange-bg): #f0ad4e;
// var(--grid-header-bg): #fafafc;

// var(--light-red): #ff6643;
// var(--text-primary): #2e4765;
// var(--text-secondary): #696d77;
// var(--text-muted): #828aa0;
// var(--black): #000000;
// var(--text-white): #ffffff;
// var(--text-lightgray): #b5b5b5;
// var(--text-teal): #35b7b6;
// var(--text-red): #e50046;
// var(--text-blue): blue;
// var(--grid-font-color): #374664;

// var(--border-mediumgray): #b2bbc7;
// var(--border-darkgray): #b6bac4;
// var(--border-grid): #e6e6e6;
// var(--primary-blue): #7092be;
// var(--border-lightgray): #e2e6ee;

$green-bg1: #169c69;
$brand-bg1: #e50046;
$gray-bg1: #7f7f7f;
$teal-bg1: #36bebc;
$orange-bg1: #f0ad4e;