<div class="form-container">
  <h3>Profile Update</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
      </div> 
      <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" formControlName="birthdate" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn save-btn" >Save</button>
    </div>
  </form>
</div>