<div>
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Manage {{ userTeam }} Team Leaves</h4>
    <span class="close material-symbols-outlined cursor-pointer" (click)="closeDialog()">&#10006;</span>
  </div>

  <div class="modal-body">
    <div *ngIf="leaveApplications.length > 0; else noLeaves">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Leave Days</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of leaveApplications">
            <td>{{ leave.username }}</td>
            <td>{{ getLeaveDays(leave.startDate, leave.endDate, leave.leaveDuration) }}</td>
            <td>{{ leave.status }}</td>
            <td class="leave-info">
              <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'" 
                      (click)="approveLeave(leave.id)" class="btn btn-success btn-sm">Approve</button>
              <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'" 
                      (click)="rejectLeave(leave.id)" class="btn btn-danger btn-sm">Reject</button>
              <button (click)="deleteLeave(leave.id)" class="btn btn-sm delete-btn">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noLeaves>
      <p>No leave requests for {{ userTeam }} team.</p>
    </ng-template>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeDialog()">Close</button>
  </div>
</div>

<!-- <div class="">
    <div class="modal-header d-flex justify-content-between">
      <div class="col-md-auto">
        <h4 class="modal-title">Manage Leave</h4>
      </div>
      <div class="col-md-auto">
        <span class="close material-symbols-outlined cursor-pointer" (click)="closeDialog()">
          &#10006;
        </span>
      </div>
    </div>
    <div class="modal-body" id="modal-content">
       <app-manage-leave></app-manage-leave>  
      
    </div>
    <div class="modal-footer mb-0">
      <div class="row justify-content-end">
        <div class="col-md-auto">
          <button class="btn btn-sm btn-primary ms-2"
          >
           (click)="SubmitData()"
            Update
          </button>
        </div>
      </div>
    </div>
  </div> -->