.close {
  color: #080808;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #d9534f;
  text-decoration: none;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding: 10px 20px;
}

.leave-info {
  display: flex;
  justify-content: center;
  /* Centers buttons horizontally */
  gap: 10px;
  /* Adds space between buttons */
  align-items: center;
  flex-wrap: wrap;
}

.leave-info button {
  /* min-width: 90px; Ensures uniform button width */
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

.delete-btn {
  background-color: transparent;
  color: #dc3545;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.delete-btn:hover {
  color: #c82333;
}

.user-list {
  list-style-type: none;
  padding: 10px;
  /* margin: 0; */
  max-height: 550px;
  overflow-y: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.leave-item {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.145);
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  transition: transform 0.1s ease;
  /* min-width: 220px; */
  /* height: 220px; */
  border: 0.3px solid #fff;
}

.leave-item:hover {
  background-color: #f0f0f0bf;
  border: 0.3px solid #bdbdbd;
}

.user-list::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background: transparent;
}

.user-list::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 8px;
  border: 4px solid #fff;
}

.user-list::-webkit-scrollbar-thumb:hover {
  background-color: #656565;
}

.user-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.leave-display-item {
  cursor: pointer;
  padding-inline: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 0.1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
  position: relative;
}

.leave-display-item:hover {
  border: 0.1px solid #212529;
  color: #212529;
}

.selected {
  border: 0.1px solid;
  background-color: #212529;
  color: #fff;
}

.selected:hover {
  border: 0.1px solid;
  background-color: #212529;
  color: #fff;
}

.new-user {
  background-color: #ffcc80;
  box-shadow: 2px 5px 5px #ffcc80;
}

.notification-counter {
  background-color: red;
  color: white;
  border-radius: 25%;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -10px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.leave-display-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.label {
  font-size: large;
  margin: 0;
}

p {
  margin: 0;
  cursor: default;
}

.leave-title {
  height: 150px;
}

.leave-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #555;
  padding: 5px;
}

.table-data {
  width: 40px;
}