<div>
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Manage {{ userTeam }} Team Leaves</h4>
    <span class="close material-symbols-outlined cursor-pointer" (click)="closeDialog()">&#10006;</span>
  </div>
  <div class="modal-body">
    <ul class="user-list">
      <a *ngFor="let leave of uniqueLeaveApplications; let i = index" (click)="toggleLeaveDetails(leave.username)">
        <li class="leave-display-item" [class.selected]="selectedUsername === leave.username"
          [class.new-user]="isNewUser(leave.username)">
          <div class="leave-display-info">
            <p class="label"><strong>{{ leave.username }}</strong></p>
            <p class="b"><strong><span style="font-size: 40px;">{{ getTotalLeaveDays(leave.username) }}</span></strong>
              Day(s)</p>
            <span *ngIf="hasPendingLeaves(leave.username)" class="notification-counter">
              {{ getPendingLeaveCount(leave.username) }}
            </span>
          </div>
        </li>
      </a>
    </ul>
    <div class="leave-item" *ngIf="leaveApplications.length > 0">
      <table class="table table-striped">
        <thead>
          <tr class="table-data">
            <th>Employee</th>
            <th>Leave Days</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="leave-item" *ngFor="let leave of leaveApplications" [hidden]="selectedUsername !== leave.username">
            <td class="leave-info">{{ leave.username }}</td>
            <td class="leave-info">{{ getLeaveDays(leave.startDate, leave.endDate, leave.leaveDuration) }}</td>
            <td class="leave-info">{{ leave.status }}</td>
            <td class="leave-action">
              <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'"
                (click)="approveLeave(leave.id)" class="btn btn-success btn-sm">Approve</button>
              <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'" (click)="rejectLeave(leave.id)"
                class="btn btn-danger btn-sm">Reject</button>
              <button (click)="deleteLeave(leave.id)" class="btn btn-sm delete-btn">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="leave-no-data" *ngIf="!selectedUsername">No Leaves here, Please select employee !!</span>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeDialog()">Close</button>
  </div>
</div>

<!-- <div class="">
    <div class="modal-header d-flex justify-content-between">
      <div class="col-md-auto">
        <h4 class="modal-title">Manage Leave</h4>
      </div>
      <div class="col-md-auto">
        <span class="close material-symbols-outlined cursor-pointer" (click)="closeDialog()">
          &#10006;
        </span>
      </div>
    </div>
    <div class="modal-body" id="modal-content">
       <app-manage-leave></app-manage-leave>  
      
    </div>
    <div class="modal-footer mb-0">
      <div class="row justify-content-end">
        <div class="col-md-auto">
          <button class="btn btn-sm btn-primary ms-2"
          >
           (click)="SubmitData()"
            Update
          </button>
        </div>
      </div>
    </div>
  </div> -->