<div class="manage-leaves-container">
  <h1>Manage Leaves</h1>
  <div class="user-leave-container">
    <ul class="user-list-border">
      <ul class="user-list">
        <a *ngFor="let leave of uniqueLeaveApplications; let i = index" (click)="toggleLeaveDetails(leave.username)">
          <li class="leave-display-item" [class.selected]="selectedUsername === leave.username"
            [class.new-user]="isNewUser(leave.username)">
            <div class="leave-display-info">
              <p class="label"><strong>{{ leave.username }}</strong></p>
              <p class="b"><strong><span style="font-size: 40px;">{{ getTotalLeaveDays(leave.username) }}</span></strong> Day(s)</p>
              <span *ngIf="hasPendingLeaves(leave.username)" class="notification-counter">{{ getPendingLeaveCount(leave.username) }}</span>
            </div>
          </li>
        </a>
      </ul>
    </ul>
    <div class="leave-list-container">
      <ul class="leave-list">
        <span class="leave-no-data" *ngIf="!selectedUsername">No Leaves here, Please select employee !!</span>
        <li *ngFor="let leave of leaveApplications" class="leave-item" [hidden]="selectedUsername !== leave.username">
          <div class="leave-info">
            <p><strong>Name: </strong> {{ leave.username }}</p>
            <p><strong>Reason: </strong> {{ leave.reason }}</p>
            <p><strong>Leave Days: </strong><span>{{ getLeaveDays(leave.startDate, leave.endDate) }}</span></p>
            <p><strong>Status: </strong> <span class="status {{ leave.status }}">{{ leave.status }}</span></p>
          </div>
          <div class="leave-actions">
            <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'" (click)="approveLeave(leave.id)" class="approve-btn">Approve</button>
            <button *ngIf="leave.status !== 'approved' && leave.status !== 'rejected'" (click)="rejectLeave(leave.id)" class="reject-btn">Reject</button>
            <button (click)="deleteLeave(leave.id)" class="delete-btn">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
