<div class="background-non">
  <div data-v-053f5fce="" class="background" *ngIf="!isLoggedIn" data-v-86491ac8="" class="scattered-previews">
    <div data-v-053f5fce="" class="glass"
      style="width: 325px; height: 171px; top: 396px; left: 495px; transform: rotate(0.561125turn); opacity: 0.110937;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 409px; height: 117px; top: 89px; left: 1002px; transform: rotate(0.708354turn); opacity: 0.159413;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 258px; height: 138px; top: 117px; left: 338px; transform: rotate(0.253652turn); opacity: 0.27255;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 83px; height: 71px; top: 34px; left: 154px; transform: rotate(0.63859turn); opacity: 0.0736625;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 113px; height: 77px; top: 607px; left: 572px; transform: rotate(0.22372turn); opacity: 0.2108762;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 94px; height: 130px; top: 127px; left: 651px; transform: rotate(0.185087turn); opacity: 0.15275;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 195px; height: 78px; top: 492px; left: 1049px; transform: rotate(0.118859turn); opacity: 0.192625;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 122px; height: 128px; top: 29px; left: 889px; transform: rotate(0.764369turn); opacity: 0.1952;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 93px; height: 177px; top: 387px; left: 268px; transform: rotate(0.117456turn); opacity: 0.205762;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 144px; height: 76px; top: 211px; left: 540px; transform: rotate(0.144817turn); opacity: 0.1368;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 177px; height: 193px; top: 248px; left: 711px; transform: rotate(0.850451turn); opacity: 0.427013;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 86px; height: 107px; top: 247px; left: 798px; transform: rotate(0.65647turn); opacity: 0.115025;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 142px; height: 69px; top: 84px; left: 586px; transform: rotate(0.132539turn); opacity: 0.122475;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 103px; height: 150px; top: 192px; left: 378px; transform: rotate(0.191509turn); opacity: 0.193125;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 138px; height: 104px; top: 231px; left: 1065px; transform: rotate(0.43214turn); opacity: 0.1794;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 146px; height: 141px; top: 63px; left: 940px; transform: rotate(0.677589turn); opacity: 0.257325;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 166px; height: 97px; top: 102px; left: 199px; transform: rotate(0.895628turn); opacity: 0.201275;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 122px; height: 87px; top: 284px; left: 1250px; transform: rotate(0.915841turn); opacity: 0.132675;">
    </div>
    <div data-v-053f5fce="" class="glass"
      style="width: 179px; height: 110px; top: 36px; left: 650px; transform: rotate(0.0954184turn); opacity: 0.246125;">
    </div>
  </div>
  <header class="header"  *ngIf="isLoggedIn">
    <nav class="navbar navbar-expand p-3">
      <button class="toggle-button" (click)="toggleSideNav()">&#9776;</button>
      <li><a href="#" class="m-5" (click)="logout()">Logout</a></li>
    </nav>
  </header>
  <app-sidebar  [isOpen]="isSideNavOpen"></app-sidebar>
  <div class="main-content" >
    <router-outlet></router-outlet>
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-box">
        <div class="loading-spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>