<div class="background">
  <header class="header" *ngIf="isLoggedIn">
    <nav class="navbar navbar-expand p-3">
      <button class="toggle-button" (click)="toggleSideNav()">&#9776;</button>
      <li><a href="#" class="m-5" (click)="logout()">Logout</a></li>
    </nav>
  </header>
  <app-sidebar [isOpen]="isSideNavOpen"></app-sidebar>
  <div class="main-content">
    <router-outlet></router-outlet>
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-box">
        <div class="loading-spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>